/* h3{
  margin-top: 5px;
} */
.footer-container{
  background-color: black;
  color: white;
  text-align: center;
  bottom: 0px;
  padding: 10px;
  font-weight: bold;
}
.footer-container a{
  color: white;
  text-decoration: none;
}
.abouttitle{
  text-align: center;
}